header {
	height: 600px;
}

.bannerContents {
	padding: 100px;
}

@media (max-width: 600px) {
	header {
		height: 250px;
	}
	.bannerContents {
		padding: 10px;
		text-align: center;
	}
	.overview {
		text-align: center;
		display: none;
	}
	.logo {
		width: 25px;
	}
	.bannerTitle {
		font-size: 30px !important;
		margin-top: 75px;
	}

	.bannerFadeBottom {
		margin-top: -80px !important;
	}
}

@media (min-width: 1200px) {
	header {
		background-position: center 0px !important;
	}
}

.bannerTitle {
	color: white;
	font-size: 5rem;
	font-weight: 800;
}

.bannerPicture {
	height: 450px;
	width: 100%;
	object-fit: cover;
}

.overview {
	color: white;
	margin-top: 10px;
	width: 400px;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 1.3rem;
	background: rgba(0, 0, 0, 0.02);
	border-radius: 10px;
	box-sizing: border-box;
}

.bannerButton {
	width: 120px;
	height: 40px;
	margin-top: 10px;
	color: #ffff;
	font-weight: 700;
	font-size: 20px;
	border: none;
	margin-right: 5px;
	border-radius: 5px;
	background: rgba(50, 50, 50, 0.6);
	cursor: pointer;
	text-align: center;
}

.bannerButton:hover {
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.5s;
}

.logo {
	width: 100px;
	padding: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.logo2 {
	width: 100px;
	padding: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.bannerFadeBottom {
	height: 150px;
	margin-top: 25px;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 27, 0.6),
		#111
	);
}
